In [10]:
#!pip install mysql-connector
import pandas
import mysql.connector as mc
mydb=mc.connect(host="localhost",user='root',passwd='1234',database='telusko')
mycursor=mydb.cursor()
#mycursor.execute("select * from fruits")
#for i in mycursor:
 #   print(i)
#mycursor.execute("create table vegies(ID INT,types TEXT,SALES INT);")
#mycursor.execute("insert into vegies values(1,'eggplant',5),(2,'spinach',8);")
df=pandas.read_sql("select * from fruits",mydb)


mydb.commit()
mycursor.close()
mydb.close()

df

   ID   COLOR  SALES
0   1   apple     45
1   2  ORANGE     34

In [11]:
df

   ID   COLOR  SALES
0   1   apple     45
1   2  ORANGE     34